<ngx-dropzone class="custom-dropzone" [showPreviews]="true" [preserveFiles]="false" #dropzone (filesAdded)="onFilesAdded($event)"></ngx-dropzone>
<button (click)="dropzone.reset()">Reset</button>
<button (click)="dropzone.showFileSelector()">Show file selector</button>

<div class="dropzone-list">
  <div>
    <span>File Name</span> 
    <span> | </span>
    <span>File Size</span>
  </div>
  <ul>
    <li *ngFor="let file of fileList">
      {{ file.name }} | {{file.size | fileSize}}
    </li>
  </ul>
</div>